{% extends "layout.html.twig" %}

{% block content %}
        <h4>{{title1}}</h4>
        <form action="" method="post">
            <p>Proveedor: {{pedido.getProveedor().getNombre()}}</p>
            <p>Fecha pedido: {{pedido.getFecha()|date('d-m-Y')}}</p>
            <p>Hora pedido: {{pedido.getFecha()|date('h:i:s')}}</p>
            <p>Detalles pedido: {{pedido.getDetalles()}}</p>
            <p>Estado pedido:{% if pedido.isEstado() %}
                                Pendiente</p>
                                {% else %}
                                Entregado</p>
                                {% endif %}
            <p>Selecciona el producto: 
            <select name='idProducto'>
                {% for row in productos %}
                    <option value={{row.getIdProducto()}}>{{row.getNombre()}}</option>
                {% endfor %}
            </select></p>
            <p>Cantidad: <input type="number" name="cantidad" required></p>
            <p><input type="submit" value="Enviar pedido"> </p>
        </form>
        <p class="button"><a href="/">Volver</a></p>
{% endblock %}