{% extends "layout.html.twig" %}

{% block content %}

    {% if resultados is null %}
        0 results
        <h4>{{title1}}</h4>
        <p><a href="/">Volver</a></p>
    {% else %}
        <h4>{{title1}}</h4>
        <table cellpadding="5">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Cantidad</th>
            </tr>
        {% for row in resultados %}
            <tr>
                <td>{{row.getProducto().getIdProducto()}}</td>
                <td>{{row.getProducto().getNombre()}}</td>
                <td>{{row.getFecha()|date('d-m-Y H:i:s')}}</td>
                <td>{{row.getCantidad()}}</td>
            </tr>
        {% endfor %}
        <form action="" method="post">
            <p>Introduce la fecha: <input type="date" name="fecha"></p>
            {#<p>Introduce la hora: <input type="time" name="hora" step="0.001"></p>#}
            <p><input type="submit" value="Buscar"> </p>
        </form>
        </table>
        <p class="button"><a href="/">Volver</a></p>
    {% endif %}

{% endblock %}